.intro-title h2 {
  font-family: 'Righteous', cursive;
  letter-spacing: 0.1em;
  // font-size: 3rem;
  // font-weight: bold;
  color: #bc9a7d;
}

.intro-title p {
  font-size: 15px;
  font-weight: 500;
  color: #bc9a7d;
}

.line {
  height: 6px;
  width: 30%;
  background: #28576f;
  display: inline-block;
}
